body
{
margin:0;
background.color:rgb(255,0,0);
overflow:inherit;
}

#dynamic
{
position:absolute;
top:0px;
left:0px;
width:100%;
height:390px;
margin:0px;
padding:0px;
z-index:-1;
}

#up_menu
{
position:absolute;
top:0px;
left:0px;
width:100%;
height:31px;
margin:0px;
z-index:1;
}

#logo
{
position:absolute;
top:5px;
left:100px;
width:160px;
height:62px;
margin:0px;
z-index:2;
border:5px solid rgb(100,255,255);
border-radius:15px;
}

#logo:hover
{
position:absolute;
top:5px;
left:100px;
width:160px;
height:62px;
margin:0px;
z-index:2;
border:5px solid rgb(255,100,100);
border-radius:15px;
}

#logo:active
{
position:absolute;
top:5px;
left:100px;
width:192px;
height:78px;
margin:0px;
z-index:2;
border:5px solid rgb(255,100,100);
border-radius:15px;
}

#down_bord
{
background-color:rgb(255,255,255);
position:absolute;
top:390px;
left:0px;
width:100%;
height:39px;
margin:0px;
z-index:1;
box-shadow: 0px 0px 5px #888888;
}

#wellcome
{
position:absolute;
top:360px;
left:240px;
margin:0px;
z-index:3;
font:35px arial,sans-serif;
color:rgb(100,200,255);
text-shadow: 0px 2px 2px #ffffff;
}

#well_text
{
position:absolute;
top:400px;
left:240px;
margin:0px;
z-index:2;
font:35px arial,sans-serif;
color:rgb(100,200,255);
text-shadow: 0px 2px 2px #000000;
}

img
{
position:relative;
width:100%;
height=100%;
margin:0%;
}

#dynamic img
{
position:relative;
width:100%;
height=100%;
margin:0%;
}

#car_hold
{
position:absolute;
z-index:2;
top:420px;
left:900px;
}

#ifr_car
{
position:absolute;
z-index:2;
top:420px;
left:420px;
width:890px;
height:218px;
scrolling:"no";
}

#key_board
{
background-color:rgb(0,30,0);
position:absolute;
top:450px;
left:15px;
width:630px;
height:160px;
margin:0px;
padding:0px;
box-shadow: 10px 10px 10px #888888;
border:10px solid rgb(250,230,230);
}

#about_where
{
background-color:rgb(120,240,255);
position:relative;
z-index:2;
top:15px;
left:15px;
width:180px;
height:47.5px;
margin:0px;
padding:top:30px;
text-align: center;
}

#about_what
{
background-color:rgb(255,245,100);
position:relative;
z-index:2;
top:50px;
left:5px;
width:220px;
height:60px;
margin:0px;
padding:top:30px;
text-align: center;
}


#money
{
background-color:rgb(100,150,150);
position:absolute;
z-index:2;
top:45px;
left:260px;
width:230px;
height:70px;
margin:0px;
padding-top:35px;
text-align: center;
}

#area
{
background-color:rgb(100,245,100);
position:absolute;
float:right;
z-index:2;
top:5px;
right:5px;
width:200px;
height:70px;
margin:0px;
padding-top:20px;
text-align: center;
}

button
{
position:absolute;
z-index:3;
right:0px;
bottom:0px;
}

#input_kakvo
{
position:relative;
top:20px;
}

#input_kade
{
position:relative;
top:15px;
}

#result_holder
{
background-color:rgb(215,235,215);
position:absolute;
top:700px;
bottom:156px;
left:80px;
width:1400px;
height:1000px;
margin:0px;
padding:0px;
box-shadow: 10px 10px 10px #888888;
break-all;
}

#result_holder img
{
position:relative;
margin:0px;
repeat:repeat+1;
border:5px solid rgb(250,230,230);
box-shadow: 10px 10px 10px #888888;
}

#result_holder td
{
position:relative;
padding:50px;
float:left;
}

#skype
{
position:absolute;
top:0.5%;
left:400px;
width:50px;
height:50px;
margin:0px;
padding:0px;
}

#skype img
{
opacity:0.5;
position:relative;
top:0px;
left:0px;
width:50px;
height:50px;
margin:0px;
padding:0px;
z-index:2;
}

#skype img:hover
{
opacity:1;
position:relative;
top:0px;
left:0px;
width:50px;
height:50px;
margin:0px;
padding:0px;
z-index:2;
}

#skype img:active
{
opacity:1;
position:relative;
top:0px;
left:0px;
width:60px;
height:60px;
margin:0px;
padding:0px;
z-index:2;
}


#mail
{
position:absolute;
top:39px;
left:480px;
width:50px;
height:50px;
margin:0px;
padding:0px;
}

#mail img
{
opacity:0.5;
position:relative;
top:0px;
left:0px;
width:50px;
height:50px;
margin:0px;
padding:0px;
z-index:2;
}

#mail img:hover
{
opacity:1;
position:relative;
top:0px;
left:0px;
width:50px;
height:50px;
margin:0px;
padding:0px;
z-index:2;
}

#mail img:active
{
opacity:1;
position:relative;
top:0px;
left:0px;
width:60px;
height:60px;
margin:0px;
padding:0px;
z-index:2;
}

#phone
{
position:absolute;
top:4px;
left:560px;
width:50px;
height:50px;
margin:0px;
padding:0px;
}

#phone img
{
opacity:0.5;
position:relative;
top:0px;
left:0px;
width:50px;
height:50px;
margin:0px;
padding:0px;
z-index:2;
}

#phone img:hover
{
opacity:1;
position:relative;
top:0px;
left:0px;
width:50px;
height:50px;
margin:0px;
padding:0px;
z-index:2;
}

#phone img:active
{
opacity:1;
position:relative;
top:0px;
left:0px;
width:60px;
height:60px;
margin:0px;
padding:0px;
z-index:2;
}

table div
{
 position:absolute;
 width:100px;
 text-align:left;
}

table div p
{
 position:relative;
 padding:0px;
 margin:0px;
}

input:focus
{
background-color:rgb("100,255,100");
}

#key_board p{
	position:relative;
	z-index:5;
}
